@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 1%;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 100%;
}

.pokemon_image {
    position: absolute;
    bottom: 55%;
    left: 41%;
    transform: translate(-29%, 20%);
    height: 17%;
}

.pokemon_data {
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 54.5%;
    right: 27%;
    font-size: clamp(8px, 5vw, 25px);
}

.pokemon_name {
    color: #3a444d;
    text-transform: capitalize;
}

.form {
    position: absolute;
    background: red;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.input_search {
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(55%, 5vw, 150%);
    /*box-shadow ordem: eixo X, eixo Y, tamanho e cor*/
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 5%;
}

.button {
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(55%, 5vw, 150%);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    transition: ease-in 100ms;
}

.button:active {
    background-color: #383838;
    box-shadow: inset -4px 4px 0 #222;
    font-size: clamp(50%, 5vw, 145%);
}



/*Responsividade para mobile*/
@media (max-width: 480px) {
    body {
        margin-top: 15%;
    }
}